/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'gzasuper';
    src: url('gza-super-webfont.woff2') format('woff2'),
         url('gza-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Set the background color for my page: */
body{
    background-color: rgb(255, 255, 255);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:rgb(17, 17, 17);
    font-family: 'Gza', 'Super';
    font-size: xx-large;
    text-align: center;
    border-bottom: 2.5px solid #000000;
    padding: 5px;
}
    
h3, p{
    color: rgb(17, 17, 17);
    font-family: 'Roboto Mono', 'normal';
    text-align: center;
}

.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
}


/* Set the apperance of the class, chart */
.chart{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5px;
    border-top:    1px solid  #d8d4d4;
    border-bottom: 1px solid #d8d4d4;

    
}
    